<!DOCTYPE html>
<html>
  <head>
  	<% include templates/layout.head.ejs%>
</head>
<body>
<div id="cover"></div>
<div id="index">
	<header>
		<% include templates/layout.header.ejs%>
	</header>
	<div id="mainContent">
		<section class="section s1">
			<div class="intro i1" style="background-image: url('images/home/section-1-background.png')" data-stellar-background-ratio="0.8">
				<div class="textBlock">
					<div class="title2"><%= contentful.home[0].section1Title %></div>
					<div class="readMoreBtn">
						<a href="about.html">read more</a>
						<div class="line-top">&nbsp;</div>
						<div class="line-right">&nbsp;</div>
						<div class="line-bottom">&nbsp;</div>
						<div class="line-left">&nbsp;</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section s2" style="background-image: url('images/home/section-2-background.png')" data-stellar-background-ratio="0.8">
			<div class="textBlock">
				<div class="title1"><%= contentful.home[0].section2Title %></div>
				<div class="title2"><%= contentful.home[0].section2Subtitle %></div>
				<div class="title3"><div class="miniBar">&nbsp;</div></div>
				<div class="content3Col">
					<div class="contentLeft">
						<div class="title4">Consultation and strategy</div>
						<div class="content">We combine industry insights with practical expertise to help our clients achieve their goals, by making sales through omni-channels, or gaining benefits from big data technologies.</div>
					</div>
					<div class="contentCenter">
						<div class="title3"><div class="miniBar">&nbsp;</div></div>
						<div class="title4">Design and develop</div>
						<div class="content">We design and develop mobile, web, and social applications, campaigns, digital installations and cloud platform for leading corporations in Hong Kong and nearby regions.</div>
					</div>
					<div class="contentRight">
						<div class="title3"><div class="miniBar">&nbsp;</div></div>
						<div class="title4">Enterprise Solutions</div>
						<div class="content">Our proprietary solutions power enterprises, encompassing internal communications, event interactions, sales presentations tools, e-learning platforms and so on.</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section s3">
			<div class="left" style="background-image: url('images/home/section-3-background-left.png')" data-stellar-background-ratio="0.8"></div>
			<div class="right" style="background-image: url('images/home/section-3-background-right.png')" data-stellar-background-ratio="0.8"></div>
			<div class="textBlock">
				<div class="title1">latest</div>
				<div class="title2">showcases</div>
				<div class="title3"><div class="miniBar">&nbsp;</div></div>
				<div class="content">We enjoy working with great clients and partners, for awesome projects.</div>
				<div class="readMoreBtn" onclick="window.location.href='works.html'">
					<a href="works.html">read more</a>
					<div class="line-top">&nbsp;</div>
					<div class="line-right">&nbsp;</div>
					<div class="line-bottom">&nbsp;</div>
					<div class="line-left">&nbsp;</div>
				</div>
			</div>
		</section>
		<section class="section s4">
			
				<div class="portfolio doubleCol mobileVisible" onclick="window.location.href='asset/works/hkjc-wechat-racing-channel.html';">
					<img src="images/home/hkjc-wechat-racing-channel.png" alt=""/>
					<div class="overlay">&nbsp;</div>
					<div class="textBlock">
						<div class="title1">WeChat</div>
						<div class="title2">HKJC Wechat Racing Channel</div>
						<div class="readMoreBtn small" onclick="window.location.href='asset/works/hkjc-wechat-racing-channel.html';">
							<a href="asset/works/hkjc-wechat-racing-channel.html">read more</a>
							<div class="line-top">&nbsp;</div>
							<div class="line-right">&nbsp;</div>
							<div class="line-bottom">&nbsp;</div>
							<div class="line-left">&nbsp;</div>
						</div>
					</div>
				</div>
			
				<div class="portfolio" onclick="window.location.href='asset/works/grand-hyatt-hyattevents.html';">
					<img src="images/home/grand-hyatt-hyattevents.png" alt=""/>
					<div class="overlay">&nbsp;</div>
					<div class="textBlock">
						<div class="title1">Mobile App</div>
						<div class="title2">Grand Hyatt Hyattevents</div>
						<div class="readMoreBtn small" onclick="window.location.href='asset/works/grand-hyatt-hyattevents.html';">
							<a href="asset/works/grand-hyatt-hyattevents.html">read more</a>
							<div class="line-top">&nbsp;</div>
							<div class="line-right">&nbsp;</div>
							<div class="line-bottom">&nbsp;</div>
							<div class="line-left">&nbsp;</div>
						</div>
					</div>
				</div>
			
				<div class="portfolio" onclick="window.location.href='asset/works/standard-chartered-digital-branch.html';">
					<img src="images/home/standard-chartered-digital-branch.png" alt=""/>
					<div class="overlay">&nbsp;</div>
					<div class="textBlock">
						<div class="title1">Digital Installation</div>
						<div class="title2">Standard Chartered Digital Branch</div>
						<div class="readMoreBtn small" onclick="window.location.href='asset/works/standard-chartered-digital-branch.html';">
							<a href="asset/works/standard-chartered-digital-branch.html">read more</a>
							<div class="line-top">&nbsp;</div>
							<div class="line-right">&nbsp;</div>
							<div class="line-bottom">&nbsp;</div>
							<div class="line-left">&nbsp;</div>
						</div>
					</div>
				</div>
		</section>
		<section class="section s6" style="background-image: url('images/home/section-6-background.png')" data-stellar-background-ratio="0.8">
			<div class="textBlock">
				<div class="title1">career in mtel</div>
				<div class="title2">join us!</div>
				<div class="title3"><div class="miniBar">&nbsp;</div></div>
				<div class="content">We have offices in Hong Kong, Guangzhou and Taipei, and we are expanding. We are always looking for super talented designers, coders, thinkers, organisers, and obsessives.</div>								
				<div class="readMoreBtn" onclick="window.location.href='joinus.html'">
					<a href="joinus.html">read more</a>
					<div class="line-top">&nbsp;</div>
					<div class="line-right">&nbsp;</div>
					<div class="line-bottom">&nbsp;</div>
					<div class="line-left">&nbsp;</div>
				</div>
			</div>
		</section>
		<section class="section s7" style="background-image: url('images/home/section-7-background.png')" data-stellar-background-ratio="0.8">
			<div class="textBlock">
				<div class="title1">Explore Our</div>
				<div class="title2">News</div>
				<div class="title3"><div class="miniBar">&nbsp;</div></div>
				<div class="newsContainer">
					<div class="newsDiv">					
						<div class="prevBtn"></div>						
						<div class="nextBtn"></div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<% for(var i=0; i< contentful.news.length; i++){ 
										var news = contentful.news[i];
									%>
									<div class="swiper-slide"> 
										<div class="news">
											<div class="date">
												<div class="month"><%
														var monthShortNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
												 	%><%= monthShortNames[new Date(news.date).getMonth()] %></div>
												<div class="day"><%= new Date(news.date).getDate() %></div>
											</div>
											<div class="content">
												<div class="title"><%= news.title %></div>
												<div class="description"><%= news.shortDescription %></div>
												
												<div onclick="window.location.href='news.html#<%
													var newsDate = new Date(news.date);
												    var yyyy = newsDate.getFullYear().toString();
												    var mm = (newsDate.getMonth()+1).toString();
												    var dd  = newsDate.getDate().toString();%><%= yyyy+(mm[1]?mm:"0"+mm[0])+(dd[1]?dd:"0"+dd[0]) %>00';" class="readMoreBtn small">
													<a>more info</a>
													<div class="line-top">&nbsp;</div>
													<div class="line-right">&nbsp;</div>
													<div class="line-bottom">&nbsp;</div>
													<div class="line-left">&nbsp;</div>
												</div>
											</div>
										</div>
									</div>
								<% } %>
							</div>					
						</div>					
					</div>
				</div>
			</div>
		</section>
		<section class="section s8">				
			<div class="textBlock">
				<div class="title1">our</div>
				<div class="title2">clients</div>
				<div class="title3"><div class="miniBar">&nbsp;</div></div>
				<div class="content">They are all leading corporations in the regions. They come from various industries, including retail, finance, insurance, telecommunications, advertising, and public utilities.</div>
				<div class="clientContainer">
					<div class="clientDiv">		
						<div class="prevBtn"></div>						
						<div class="nextBtn"></div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
									<div class="swiper-slide"> 
										<div class="client c1" title="A.S. Watson Group" style="background-image: url('images/home/A.S Watson.png')"></div>
									</div>
									<div class="swiper-slide"> 
										<div class="client c2" title="HKIA" style="background-image: url('images/home/hkia.png')"></div>
									</div>								
									<div class="swiper-slide"> 
										<div class="client c3" title="Starbucks" style="background-image: url('images/home/starbucks.png')"></div>
									</div>
									<div class="swiper-slide"> 
										<div class="client c4" title="LI & FUNG" style="background-image: url('images/home/LiFung.png')"></div>
									</div>
									<div class="swiper-slide"> 
										<div class="client c5" title="Manulife" style="background-image: url('images/home/manulife.png')"></div>
									</div>
							</div>
						</div>						
					</div>					
				</div>
				<div class="readMoreBtn" onclick="window.location.href='about.html'">
					<a href="about.html">read more</a>
					<div class="line-top">&nbsp;</div>
					<div class="line-right">&nbsp;</div>
					<div class="line-bottom">&nbsp;</div>
					<div class="line-left">&nbsp;</div>
				</div>
			</div>					
			<div id="map-canvas"></div>
		</section>
	</div>
	<footer>
		<% include templates/layout.footer.ejs%>				
	</footer>
</div>
    <script type="text/javascript" src="vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>
