<script defer="defer"  src="scripts/newslist.js"></script>
<div class="catContainer">
	<select id="category">
		<option value="all">Tag:all</option>
		<option value="AI">AI</option>		
		<option value="Amazon Web Service">Amazon Web Service</option>		
		<option value="Award">Award</option>		
		<option value="Bing">Bing</option>		
		<option value="Biohacking experience">Biohacking experience</option>		
		<option value="Braille">BinBrailleg</option>		
		<option value="cognitive advertising">Cognitive advertising</option>		
		<option value="Conference">Conference</option>		
		<option value="Exhibition">Exhibition</option>				
		<option value="Explorium">Explorium</option>		
		<option value="Expo">Expo</option>		
		<option value="Guest Speaker">Guest Speaker</option>		
		<option value="IBM">IBM</option>		
		<option value="Insight">Insight</option>		
		<option value="IoT">IoT</option>		
		<option value="Membership">Membership</option>		
		<option value="Mobile Payment">Mobile Payment</option>		
		<option value="News">News</option>		
		<option value="O2O">O2O</option>
		<option value="Partnership">Partnership</option>
		<option value="QR code">QR code</option>
		<option value="Retargeting">Retargeting</option>
		<option value="Search engine">Search engine</option>
		<option value="SEO">SEO</option>
		<option value="Smart City">Smart City</option>
		<option value="Smart Watch">Smart Watch</option>
		<option value="Social Media">Social Media</option>
		<option value="Sponsorship">Sponsorship</option>		
		<option value="Wearable">Wearable</option>		
		<option value="Unilever">Unilever</option>		
	</select>
</div>
<div class="resultContainer">
	<div class="resultSection">
		<% for(var i=0; i< contentful.news.length; i++){ 
			var news = contentful.news[i];
		%>
		<div data-name="<%= news.date.split('T')[0].replace(/\-/g,'') %>00" class="result <%= news.tags.replace(/, /g,',').replace(/ /g,'-').replace(/,/g,' ') %>">
			<div class="title"><%= news.title %></div>
			<div class="description"><%= news.shortDescription %></div>
			<div class="tags"><%= news.tags %></div>
			<div class="date"><%= news.date.split('T')[0].split('-')[2] %>.<%= news.date.split('T')[0].split('-')[1] %>.<%= news.date.split('T')[0].split('-')[0] %></div>
			<div class="moreBtn"></div>
		</div>
		<% } %>
	</div>					
</div>